[Unit]
Description=Raspberry Pi Network IDS Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/network-ids-cert-structured/pi/monitor.py
WorkingDirectory=/home/pi/network-ids-cert-structured/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
